<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">


        <p>
          In the "Familiarization" phase, you saw all the words and objects you saw in the "Study" phase.
          However, some of the pairs changed, and some stayed the same. Your task is to remember which word you saw with which object
          in the "familiariaztion" phase, which may or may not be the same as what you saw during study.
        <p>
            Now you will be tested. You will see a single word. Click on the object the word refers to.
        </p>

        <p>
            Please do your best!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
