<div id="container-instructions">

    <h1>Phase 2</h1>

    <hr>

    <div class="instructions well">

        <p>
            Now you will start the learning phase. You will see two objects the two words referring to them at a time. 
        </p>
        <p>
            However, the word order and object locations are random, so you will have to figure out the meaning of each word across multiple trials. 
        </p>

        <p>
            Please do your best to pay attention learn which words go with which objects. Thank you!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
